@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="gdCameApp">
<head>
    <title>title</title>
    @Styles.Render("~/Content/css")

</head>

<body ng-controller="appGameController">
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">@User.Identity.Name</p></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-fluid jumbotron jumbotron-top">
        <section class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <counters></counters>
            </div>
            <div class="col-md-1">
            </div>
        </section>
        <section class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 center-block">

                <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <button type="button" class="btn btn-success" ng-click="fightAgainstInflation()" ng-disabled="gameData.Counters.Counters[2].Inflation == 0">Take a rest</button>
                    <button type="button" class="btn btn-info btn-lg" ng-click="perfotmManulaStep()">WORK HARD !!</button>
                    <button type="button" class="btn btn-danger" ng-disabled="gameData.Counters.Counters[3].UnlockValue > gameData.Counters.Counters[0].Value">Do quarter goal</button>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </section>
    </section>


    <section class="container">

        <section class="row scrollit">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <fund-drivers></fund-drivers>
            </div>
            <div class="col-md-1">
            </div>
        </section>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/app/app.js")
    @Scripts.Render("~/app/gdCameData.service.js")
    @Scripts.Render("~/app/counters/counters.component.js")
    @Scripts.Render("~/app/fundDrivers/fundDrivers.component.js")
</body>
</html>