@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/Scripts/angular.js"></script>
}

<div class="jumbotron">
    <div ng-app="Home" class="row">
        <div ng-controller="gamedata">
            @*{{gameData.FundsDrivers[0]}}*@
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt>Баланс</dt>
                        <dd>{{gameData.Counters.CurrentFunds}}</dd>
                        <dt>Всего заработано</dt>
                        <dd>{{gameData.Counters.TotalFunds}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{gameData.Counters.Counters[0].Name}}</dt>
                        <dd class="text-danger">{{gameData.Counters.Counters[0].Value}}</dd>
                        <dt>{{gameData.Counters.Counters[1].Name}}</dt>
                        <dd class="text-primary">{{gameData.Counters.Counters[1].Value}} = {{gameData.Counters.Counters[1].SubValue}} + Bonus: {{gameData.Counters.Counters[1].BonusPercentage}}%  {{gameData.Counters.Counters[1].Bonus}}) - Buthurt: {{gameData.Counters.Counters[1].Inflation}}%</dd>
                        <dt>{{gameData.Counters.Counters[2].Name}}</dt>
                        <dd class="text-success">{{gameData.Counters.Counters[2].Value}} = {{gameData.Counters.Counters[2].SubValue}} + Premium: {{gameData.Counters.Counters[2].BonusPercentage}}% ({{gameData.Counters.Counters[2].Bonus}}) - Fatigue: {{gameData.Counters.Counters[2].Inflation}}%</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger btn-lg" ng-click="performManualStep()">Work Hard!</button>
                    <button class="btn btn-warning" ng-click="fightAgainstInflation()">Motivate!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        @*@foreach (var fundDriver in Model.FundsDrivers)
                            {
                                <div class="col-md-3">
                                    <a class="thumbnail" href="@Url.Action("BuyFundDriver", new {id = fundDriver.Id})">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @{ var incIndex = 0;}
                                                @foreach (var incrementor in fundDriver.Incrementors)
                                                {
                                                    <p class="@GetTextColor(incIndex)">
                                                        +@incrementor.Value.Value @(incrementor.Value.IncrementorType == IncrementorTypeEnum.PercentageIncrementor ? "%" : "")
                                                    </p>
                                                    incIndex++;
                                                }
                                            </div>

                                            <div class="col-md-4">
                                                <span class="glyphicon glyphicon-check"></span>
                                            </div>
                                            <div class="col-md-4">
                                                x @fundDriver.BuyCount
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <strong>@fundDriver.Name</strong>
                                            <div>@fundDriver.Value.ToString("c")</div>
                                        </div>
                                    </a>
                                </div>
                            }*@

                    </div>
                </div>

                <div class="col-md-1">
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var app = angular.module("Home", []);
    app.controller("gamedata", function getGameData($scope, $http) {
        $http.get('http://localhost:50689/api/GameApi/GetGameData/')
            .success(function (data) {
                $scope.gameData = data;
            });

        $scope.performManualStep = function () {
            $http.post('http://localhost:50689/api/GameApi/PerformManualStep/');
            getGameData($scope, $http);
        };

        $scope.fightAgainstInflation = function () {
            $http.post('http://localhost:50689/api/GameApi/FightAgainstInflation/');
            getGameData($scope, $http);
        };
    });
</script>